// Color Palette
// ================================
$body-color: #444 !default;

$color-1: #faf8ff !default;
$color-2: #f4f4f4 !default;
$color-3: #f7f8fc !default;
$color-4: #e4e8f1 !default;
$color-5: #fbc616 !default;
$color-6: #f4f7fc !default;



// Breakpoints
// ================================
$bp-mobile: 600px;
$bp-tablet: 800px;
$bp-desktop: 1100px;