.hero-treatment {
  background-image: url('/images/jose-guerra-front-end-developer.jpg');
  height: 100vh;
  position: relative;

  &::before {
    content: '';
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.45), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
  }

  .welcome {
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;

    .support-text {
      font-family: $font-family-1;
      display: block;
      font-size: 1.4rem;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
    }

    .lead-title {
      font-size: cre(90px);
      color: $color-5;
      line-height: 1.2;
      margin-bottom: 0;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
    }

    .lead-text {
      font-family: $font-family-1;
      font-size: 1.5rem;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
      margin-bottom: cre(40px);
    }
  }
}