.hero-treatment {
  background-image: url('/images/jose-guerra-front-end-developer.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  &::before {
    content: '';
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.45), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  // Container
  // ============================
  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
  }

  .scroll-down {
    font-size: 0;
    background-color: transparent;
    border: 1px solid $color-5;
    border-radius: 100%;
    color: transparent;
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: cre(40px);
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: '';
      font-size: cre(18px);
      @include font-icon('\e904');
      color: $color-5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease;
    }

    &:focus,
    &:hover {
      background-color: $color-5;

      &::before {  
        color: black;
      }
    }
  }

  // Welcome Section
  // ============================
  .welcome {
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;

    .support-text {
      font-family: $font-family-1;
      display: block;
      font-size: 1.4rem;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
    }

    .lead-title {
      font-size: cre(90px);
      color: $color-5;
      line-height: 1.2;
      margin-bottom: 0;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
    }

    .lead-text {
      font-family: $font-family-1;
      font-size: 1.5rem;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
      margin-bottom: cre(40px);
    }
  } // .welcome
} // .hero-treatment