#master-footer {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: $color-6;
  color: rgba($body-color, 0.75);
  padding: cre(40px) 0 cre(10px);
  position: relative;
  text-align: center;
}

#colophon {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  text-align: center;
}