#masthead,
#master-header {
  background-color: rgba(16,27,45, 0.25);
  color: white;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  z-index: 10;

  @include breakpoint($bp-mobile) {
    position: fixed;
  }

  .container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &.darken {
    background-color: rgba(16,27,45,1);
  }
}

#masthead {
  display: flex;
  justify-content: space-between;
}

#site-logo {
  font-family: $font-family-1;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-5;
}

.social-links {
  @include list-reset;
  display: flex;
  flex-flow: row nowrap;

  li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .icon {
    font-size: 0;
    color: transparent;
    padding: 1rem;
    position: relative;

    &::before {
      font-size: cre(22px);
      content: '';
      color: white;
      width: 100%;
      height: 100%;
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease;
    }

    &:focus,
    &:hover {

      &::before {
        color: $color-5;
      }
    }
  }

  .github {

    &::before {
      @include font-icon('\e902');
    }
  }

  .codepen {

    &::before {
      @include font-icon('\e901');
    }
  }

  .linkedin {

    &::before {
      @include font-icon('\e900');
    }
  }
}