// About me section
// =========================
@import 'home/_01_about';

// My skills section
// =========================
@import 'home/_02_skills';

// Learning section
// =========================
@import 'home/_03_learn';

// CTA section
// =========================
@import 'home/_04_cta';

// Projects section
// =========================
@import 'home/05_projects';

// CSS animations
// =========================
@keyframes progress-html {
  from {width: 0}
  to {width: 95%}
}

@keyframes progress-css {
  from {width: 0}
  to {width: 85%}
}

@keyframes progress-sass {
  from {width: 0}
  to {width: 90%}
}

@keyframes progress-js {
  from {width: 0}
  to {width: 80%}
}

@keyframes progress-jquery {
  from {width: 0}
  to {width: 80%}
}

@keyframes progress-wordpress {
  from {width: 0}
  to {width: 85%}
}