// About me section
// =========================
.about-me {
  padding: cre(100px) 0;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  p {
    margin-bottom: cre(40px);
  }

  .about-me-left {
    max-width: 46%;
    position: relative;
    z-index: 1;
  }

  .about-me-right {
    max-width: 46%;
    position: relative;

    &::before {
      content: '';
      background-color: $color-2;
      width: 160%;
      height: calc(100% - 100px);
      position: absolute;
      top: 50%;
      right: -10%;
      transform: translateY(-50%);
    }

    .profile-image {
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      position: relative;
      z-index: 1;
    }
  }
}

.section-title {
  display: inline-block;
  padding-bottom: 1rem;
  position: relative;

  &::after {
    content: '';
    background-color: $color-5;
    width: 60%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// My skills section
// =========================
.skills {
  background-color: $color-2;
  padding: cre(80px) 0;
  text-align: center;

  > p {
    margin-bottom: cre(40px);
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
  }

  .skills-left,
  .skills-right {
    width: 100%;
    max-width: 45%;
  }

  .skills-left {

  }

  .skills-right {

  }

  .skills-item {
    margin-bottom: cre(30px);

    .skills-label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: cre(4px);

      .skills-name {}
      .skills-percent {}
    }

    .skills-bar {
      background-color: $color-4;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
      width: 100%;
      height: cre(8px);
      position: relative;

      &::before {
        content: '';
        background-color: $color-5;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.html {
        
        &::before {
          width: 95%;
        }
      } // .html

      &.css {
        
        &::before {
          width: 85%;
        }
      } // .css

      &.sass {
        
        &::before {
          width: 90%;
        }
      } // .sass

      &.js {
        
        &::before {
          width: 80%;
        }
      } // .js

      &.jquery {
        
        &::before {
          width: 80%;
        }
      } // .jquery

      &.wordpress {
        
        &::before {
          width: 85%;
        }
      } // .wordpress
    }
  }
}

// Learning section
// =========================
.learning {
  padding: cre(120px) 0 cre(40px);

  h2 {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: cre(40px);

    &::after {
      content: '';
      background-color: $color-5;
      width: 60%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .learning-left {
    width: 100%;
    max-width: 48%;
    position: relative;

    &::before {
      content: '';
      background-color: rgba($color-2, 0.6);
      width: 110%;
      height: calc(100% - 20px);
      position: absolute;
      bottom: -5%;
      left: 5%;
    }
  }

  .learning-right {
    width: 100%;
    max-width: 46%;
    position: relative;
    z-index: 1;
  }

  .post-image {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
  }
}

// Projects section
// =========================
.projects {
  padding: cre(80px) 0;
  text-align: center;
}