.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.45), rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }

    // Welcome Section
  // ============================
  .welcome {
    color: white;
    margin: auto;
    padding: 0 2rem;
    text-align: center;
    position: relative;
    z-index: 1;

    @include breakpoint($bp-mobile) {
      padding: 0;
    }

    .support-text {
      font-family: $font-family-1;
      display: block;
      font-size: 2.2rem;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
    }

    .lead-title {
      font-family: $font-family-1;
      font-size: 6rem;
      color: $color-5;
      line-height: 1.2;
      margin-bottom: 0;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);

      @include breakpoint($bp-mobile) {
        font-size: 9rem;
      }
    }

    .lead-text {
      font-family: $font-family-1;
      font-size: 2.2rem;
      text-shadow: 1px 2px 10px rgba(0,0,0,0.45);
      margin-bottom: 4rem;

      @include breakpoint($bp-mobile) {
        font-size: 2.4rem;
      }
    }
  } // .welcome
}

.hero-bg {
  background-image: url('images/jose-guerra-front-end-developer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}