#site-header {
  background-color: rgba($color-7, 0.5);
  padding: 2rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#site-logo {
  font-family: $font-family-1;
  font-size: 2.4rem;
  font-weight: 700;
  color: $color-5;
}

.social-links {
  @include list-reset;

  li {
    display: inline-block;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .icon {
    font-size: 0.001rem;
    line-height: 1;
    color: transparent;
    padding: 0.7rem;
    position: relative;

    &::before {
      font-size: 2.2rem;
      content: '';
      color: white;
      width: 100%;
      height: 100%;
      font-family: 'icomoon';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease;
    }

    &:focus,
    &:hover {

      &::before {
        color: $color-5;
      }
    }
  }

  .github {

    &::before {
      @include font-icon('\e902');
    }
  }

  .codepen {

    &::before {
      @include font-icon('\e901');
    }
  }

  .linkedin {

    &::before {
      @include font-icon('\e900');
    }
  }
}