#site-header {
  background-color: rgba($color-7, 0.2);
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#site-logo {
  font-family: $font-family-1;
  font-size: 2.4rem;
  font-weight: 700;
  color: $color-5;
}

.social-links {
  @include list-reset;

  li {
    display: inline-block;
  }
}