.button-cta {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid $color-5;
  color: $color-5;
  padding: 0.5rem 2rem;
  // transform: scale(1);
  transition: 0.3s;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }

  &:focus,
  &:hover {
    background-color: $color-5;
    background-color: transparent;
    border-color: $color-5;
    color: black;
    text-decoration: none;
    // transform: scale(1.06);
    // box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

    &::before {
      left: 0%;
      right: auto;
      width: 100%;
    }
  }
}

.button-more {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: $color-5;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  color: black;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  transform: scale(1);
  transition: 0.3s ease;

  &:focus,
  &:hover {
    background-color: darken($color-5, 5%);
    color: black;
    text-decoration: none;
    transform: scale(1.06);
  }
}