.button-cta {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid $color-5;
  color: $color-5;
  padding: 1rem 2rem;
  transition: 0.3s;

  &:focus,
  &:hover {
    background-color: $color-5;
    border-color: $color-5;
    color: black;
    text-decoration: none;
  }
}

.button-more {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: $color-5;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  color: black;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  transition: 0.3s ease;

  &:focus,
  &:hover {
    background-color: darken($color-5, 5%);
    color: black;
    text-decoration: none;
  }
}