// Global
// ================================

// Apply a natural box layout model to all elements:
// paulirish.com/2012/box-sizing-border-box-ftw

* {
  box-sizing: border-box;
}

// Separate universal psuedo selectors for performance
// Remove pointer-events to prevent overlays from being clickable

*:before,
*:after {
  box-sizing: border-box;
  pointer-events: none;
}

html {
  // height: 100%;
  // font-family: $font-family-1;
  // background: $m1;
  -webkit-font-smoothing: antialiased; // all webkit
  -moz-osx-font-smoothing: grayscale; // firefox
}

body {
  // height: 100%;
  font-size: $body-font-size; 
  line-height: $body-line-height;
  color: $body-color;
}

// Global containers
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.scroll-up {
  font-size: 0;
  background-color: $color-5;
  border: 2px solid $color-5;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: cre(40px);
  right: cre(40px);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  opacity: 0;
  transform: scale(1);
  transition: 0.3s ease;
  z-index: 2;

  &.view {
    opacity: 1;
  }

  &:focus,
  &:hover {
    transform: scale(1.1);
  }

  &::before {
    content: '';
    font-size: cre(18px);
    @include font-icon('\e903');
    color: $color-5;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Headings
// ====================
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-1;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line-height;
  margin-bottom: $h1-margin;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-line-height;
  margin-bottom: $h2-margin;
}

h3 {
  font-size: $h3-size;
  line-height: $h3-line-height;
  margin-bottom: $h3-margin;
}

h4 {
  font-size: $h4-size;
  line-height: $h4-line-height;
  margin-bottom: $h4-margin;
}

h5 {
  font-size: $h5-size;
  line-height: $h5-line-height;
  margin-bottom: $h5-margin;
}

h6 {
  font-size: $h6-size;
  line-height: $h6-line-height;
  margin-bottom: $h6-margin;
}

// Images
// ==============
img {
  max-width: 100%;
  height: auto;
}